.highlighted {
	border: 2px solid DeepPink;
	box-shadow: 2px 2px 2px #333333;	
}

.thumbnail {
	z-index: 1000;
	width: 166px;
	height: 189px;
	float: left;
	margin: 1px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.notthumbnail {
	width: 336px;
	height: 189px;
	background-color: orange;
	float: left;
	margin: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#galleryimages {
	width: 504px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
}
#showcase {
	width: 504px;
	height: 567px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;		
}
.wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;		
}
#main {
	width: 1024px;
	display: flex;
	justify-content: center;
}
#gallery {
	clear: both;
	padding: 0;
}
button {
	margin: auto;
	font-size: 3em;
	background: white;	
	height: 189px;
}	
#prevdiv {
	float:left;
	padding-top: 189px;
}
#nextdiv {
	float:right;
	padding-top: 189px;
}
#JSONdata, #focusindex, #maxindex {
	display: none;
}
h1 {
	font-size: 3em;
}