#cancel { /* this is the grey layer that appears behind the lightbox content.  It serves only two purposes: make the lightbox content stand out, and serrve as a "close lightbox" button. */
	display: none; /* it starts out not displayed.  Thic changes to block when the lightbox is up */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
#show { /* this is the div that's on top of everything else and shows loaded content.  it's the 'light' part of the lightbox. */
	display: none; /* it starts out not displayed.  Thic changes to block when the lightbox is up */
	position: fixed;
	top: 10%;
	left: 10%;
	margin: auto;
	z-index: 100;
	width: 80%;
	height: 80%;
	background-color: ivory;
	border-radius: 10px;
	padding: 25px;
	border: 10px solid transparent;
    	padding: 15px;
	overflow-y: auto;
	/* these next three lines use an image I made for the border, to hopefully give it a pencilly effect. */
    	-webkit-border-image: url(jaggedborder.png) 30% round; /* Safari */
    	-o-border-image: url(jaggedborder.png) 30% round; /* Opera */
    	border-image: url(jaggedborder.png) 30% round;		
}
#ground {
	display: block;
	z-index: -1;
	clear: both;
	padding-bottom: 10em; /* this is to make a blank space at the bottom of the page, so the attribution div doesn't block content.*/
}
body {
	background-color: white;
	font-family: Tahoma, Geneva, sans-serif;
}
a {
	color: indianred;
	font-weight: bold;
	text-decoration: none;
}
a.hover {
	font-style: italic;
}
h1 {
	color: firebrick;
	font-size: x-large;
	font-family: Impact, Charcoal, sans-serif;
}
.item {
	display: block;
	float: left;
	padding: 15px;
	margin: 0;
	width: 20em;
	font-size: medium;	
	height: 20em;
	background-color: ivory;	
	border: 10px solid transparent;
	padding: 15px;
	overflow-y: auto;
	/* these next three lines use an image I made for the border, to hopefully give it a pencilly effect. */
    	-webkit-border-image: url(jaggedborder.png) 30% round; /* Safari */
    	-o-border-image: url(jaggedborder.png) 30% round; /* Opera */
    	border-image: url(jaggedborder.png) 30% round;		
	
}
#attribution {
	display: block;
	position: fixed;
	bottom: 0;
	left: -2%;
	width: 105%;
	text-align: center;
	background-color: ivory;	
	border: 10px solid transparent;
    	padding: 25px 20% 25px 5%; /*i wanted the citation part at the bottom to bleed off the screen.  These weird numbers were me trying to get it to act right when the window was made smaller. */
	/* these next three lines use an image I made for the border, to hopefully give it a pencilly effect. */
    	-webkit-border-image: url(jaggedborder.png) 30% round; /* Safari */
    	-o-border-image: url(jaggedborder.png) 30% round; /* Opera */
    	border-image: url(jaggedborder.png) 30% round;			
}

/* everything from here down is for the dropdown menus.  Original code came from suckerfish */
#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#nav a {
	display: block;
	width: 10em;
}

#nav li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
	font-size: medium;
	border-radius: 10px;
	background-color: ivory;
	border: 10px solid transparent;
	padding: 15px;
	color: indianred;	
	font-family: Impact, Charcoal, sans-serif;
	/* these next three lines use an image I made for the border, to hopefully give it a pencilly effect. */
    	-webkit-border-image: url(jaggedborder.png) 30% round; /* Safari */
    	-o-border-image: url(jaggedborder.png) 30% round; /* Opera */
    	border-image: url(jaggedborder.png) 30% round;		
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}
