#rollresults,#advisoroutput {
	background-color: white;
}

body {
	background-color: white;
	color: grey;
}
		
a {
	color: black;
	text-decoration: none;
}

a.hover {
	font-style: italic;
}
h1 {
	color: black;
	font-size: x-large;
}
.item, #toolwrapper, #attribution, #show, #nav li {
	background-color: white;
	/* these next three lines use an image I made for the border, to hopefully give it a pencilly effect. */
    	-webkit-border-image: url(jaggedborder.png) 30% round; /* Safari */
    	-o-border-image: url(jaggedborder.png) 30% round; /* Opera */
    	border-image: url(jaggedborder.png) 30% round;		
}

#nav li { /* all list items in nav*/
	color: grey;	
	text-decoration: none;	
}

